*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: $EN-font, $TC-font, sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
span {
  display: inline-block;
  vertical-align: middle;
}
hr {
  margin: 0;
}
label {
  display: inline-block;
}
textarea {
  resize: none;
}
