<div class="category container fs-32">
  <ul class="category-list d-flex text-center">
    <li class="category-list-item w-33">
      <a href="optical.html" class="text-black fw-medium py-24 active"
        >OPTICAL</a
      >
    </li>
    <li class="category-list-item w-33">
      <a href="##" class="text-black fw-medium py-24">SUNGLASSES</a>
    </li>
    <li class="category-list-item w-33">
      <a href="##" class="text-black fw-medium py-24">FUNCTIONAL</a>
    </li>
  </ul>
</div>
