<div class="d-flex justify-content-center mb-80">
  <ul class="pagination d-flex mx-auto">
    <li><a href="##" class="px-16 py-12">上一頁</a></li>
    <li><a href="##" class="px-16 py-12">1</a></li>
    <li><a href="##" class="px-16 py-12 active">2</a></li>
    <li><a href="##" class="px-16 py-12">3</a></li>
    <li><a href="##" class="px-16 py-12">4</a></li>
    <li><a href="##" class="px-16 py-12">5</a></li>
    <li><a href="##" class="px-16 py-12">下一頁</a></li>
  </ul>
</div>
