$primary: #aa0601;
$primary-dark: #650300;
$primary-light: #9f1213;
$secondary: #fbf2f2;
$black: #000000;
$white: #ffffff;
$light: #dee2e6;
$light-2: #dcdcdc; // border
$light-3: #f2f2f2; // pagination-hover
$light-4: #ced4da; // store select border
$light-5: #00000020; // store card border
$dark: #707070;
$dark-2: #555555; // pagination-border pagination-text
$dark-3: #495057; // store select
$dark-4: #212529; // store-list font
$brown-dark: #5f3e2d;
$brown-light: #b75929;

$TC-font: "Noto Sans TC";
$EN-font: "Roboto";

$gutter-x: 1.5rem;
