.social {
  &-img {
    width: 48px;
    &:hover {
      filter: brightness(80%);
    }
    @include mobile {
      width: 24px;
    }
  }
  @include mobile {
    gap: 8px;
  }
}
.contact {
  a {
    display: block;
  }
  .material-icons {
    font-size: 36px;
    @include mobile {
      font-size: 18px;
      margin-right: 11px;
    }
  }
  @include mobile {
    order: 1;
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.sitemap-social {
  @include mobile {
    order: 2;
    width: auto;
  }
}
.sitemap {
  @include mobile {
    display: none;
  }
}

.footer {
  @include mobile {
    padding-top: 24px;
    padding-bottom: 24px;
    hr {
      margin-bottom: 16px;
    }
  }
}
.copyright {
  @include mobile {
    gap: 8px;
  }
}
.privacy-service {
  @include mobile {
    gap: 8px;
  }
}
