<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- banner -->
      <section class="banner text-primary-dark py-296">
        <div class="container">
          <div class="text-end">
            <h2 class="banner-title fs-36">Promise-Desert 2020 早春系列</h2>
            <h3 class="banner-text h2 mb-4">看得清，才能看得遠</h3>
            <a href="##" class="btn btn-primary fs-20">立即購買</a>
          </div>
        </div>
      </section>
      <!-- intro -->
      <section class="intro bg-secondary text-primary-dark text-center py-80">
        <div class="container">
          <h3 class="intro-title h3 mb-32">用專業的心，做專業的事</h3>
          <ul class="list-25-lg50-md100 row">
            <li>
              <span class="material-icons-outlined mb-24"> paid </span>
              <h4 class="h4 mb-8">單一價格</h4>
              <p class="text-start text-black">
                無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
              </p>
            </li>
            <li>
              <span class="material-icons-outlined mb-24"> schedule </span>
              <h4 class="h4 mb-8">20 分鐘即可取件</h4>
              <p class="text-start text-black">
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </li>
            <li>
              <span class="material-icons-outlined mb-24">
                favorite_border
              </span>
              <h4 class="h4 mb-8">安心售後服務</h4>
              <p class="text-start text-black">
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </li>
            <li>
              <span class="material-icons-outlined mb-24"> voicemail </span>
              <h4 class="h4 mb-8">關於鏡片</h4>
              <p class="text-start text-black">
                使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
              </p>
            </li>
          </ul>
        </div>
      </section>
      <!-- classic -->
      <section class="classic container text-primary-dark text-center py-80">
        <h3 class="classic-title h3 mb-48">經典系列鏡框</h3>
        <ul
          class="classic-list list-33-lg51-md100 row justify-content-center display-1"
        >
          <li>
            <a href="##" class="link-primary">
              <div class="classic-img mb-8">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
                  alt="OPTICAL"
                />
              </div>
              <h5>OPTICAL</h5>
            </a>
          </li>
          <li>
            <a href="##" class="link-primary">
              <div class="classic-img mb-8">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
                  alt="SUNGLASSES"
                />
              </div>
              <h5>SUNGLASSES</h5>
            </a>
          </li>
          <li>
            <a href="##" class="link-primary">
              <div class="classic-img mb-8">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
                  alt="FUNCTIONAL"
                />
              </div>
              <h5>FUNCTIONAL</h5>
            </a>
          </li>
        </ul>
      </section>
      <!-- co-branding -->
      <section class="co-branding py-80">
        <div class="container text-center">
          <h3 class="co-branding-title h3 text-white mb-48">聯名設計鏡框</h3>
          <ul class="co-branding-list row gutter-0 list-50-lg100 display-1">
            <li>
              <a href="##" class="link-primary">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
                  alt="DOUBLE A+"
                  class="co-branding-doubleA"
                />
                <h5 class="bg-white py-8">DOUBLE A+</h5>
              </a>
            </li>
            <li>
              <a href="##" class="link-primary">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
                  alt="YOUTH"
                  class="co-branding-youth"
                />
                <h5 class="bg-white py-8">YOUTH</h5>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="recommend py-80">
        <div class="container">
          <h3 class="recommend-title h3 text-primary-dark text-center mb-48">
            顧客推薦
          </h3>
          <ul class="recommend-list row list-25-lg50-md100">
            <li>
              <div class="recommend-list-item h-100 d-flex flex-column">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
                  alt="Jessy"
                />
                <div class="p-16 flex-grow-1">
                  <h6 class="mb-8 fw-medium">Jessy</h6>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <div class="p-16">
                  <p class="text-dark fs-14">2021/06/20</p>
                </div>
              </div>
            </li>
            <li>
              <div class="recommend-list-item h-100 d-flex flex-column">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
                  alt="凱倫"
                />
                <div class="p-16 flex-grow-1">
                  <h6 class="mb-8 fw-medium">凱倫</h6>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                </div>
                <div class="p-16">
                  <p class="text-dark fs-14">2021/06/20</p>
                </div>
              </div>
            </li>
            <li>
              <div class="recommend-list-item h-100 d-flex flex-column">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
                  alt="悠悠"
                />
                <div class="p-16 flex-grow-1">
                  <h6 class="mb-8 fw-medium">悠悠</h6>
                  <p>
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                </div>
                <div class="p-16">
                  <p class="text-dark fs-14">2020/12/25</p>
                </div>
              </div>
            </li>
            <li>
              <div class="recommend-list-item h-100 d-flex flex-column">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
                  alt="Kyuan"
                />
                <div class="p-16 flex-grow-1">
                  <h6 class="mb-8 fw-medium">Kyuan</h6>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <div class="p-16">
                  <p class="text-dark fs-14">2020/10/31</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- contact -->
      <section class="contactme bg-secondary py-80">
        <div class="container">
          <div class="contactme-content w-50 mx-auto">
            <h3
              class="contactme-title h3 pb-48 mb-48 text-center text-primary-dark"
            >
              聯絡我們
            </h3>
            <p class="mb-24 fs-20">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form>
              <label class="mb-8" for="name">姓名</label>
              <input
                type="text"
                id="name"
                placeholder="陳小明"
                class="w-100 mb-16 py-6 ps-12 bg-secondary"
              />
              <label class="mb-8" for="tel">連絡電話</label>
              <input
                type="tel"
                id="tel"
                placeholder="0912-345-678"
                class="w-100 mb-16 py-6 ps-12 bg-secondary"
              />
              <label class="mb-8" for="email">電子郵件</label>
              <input
                type="email"
                id="email"
                placeholder="example@email.com"
                class="w-100 mb-16 py-6 ps-12 bg-secondary"
              />
              <label class="mb-8" for="comment">意見反應</label>
              <textarea
                id="comment"
                placeholder="請輸入您的意見"
                class="w-100 mb-16 py-6 ps-12 bg-secondary"
                style="height: 136px"
              ></textarea>
              <label for="agree" class="mb-48">
                <input type="checkbox" name="agree" id="agree" />
                <span>
                  我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</span
                ></label
              >
              <div class="w-100 text-center">
                <input
                  type="submit"
                  value="確認送出"
                  class="contactme-btn btn btn-primary"
                />
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
