<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- category -->
    <%- include('./layout/category'); -%>
    <!-- optical-banner -->
    <div class="optical-banner d-flex mb-80">
      <img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true"
        alt="glasses"
        class="optical-banner-glasses w-50 object-cover"
      /><img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true"
        alt="glasses"
        class="optical-banner-person w-50 object-cover"
      />
    </div>
    <!-- optical-list -->
    <div class="container">
      <div class="optical-title text-center">
        <h2 class="fs-42 fw-medium">Celluloid Combi</h2>
        <h2 class="fs-32 mb-32">賽璐珞鈦金屬混合鏡框</h2>
      </div>
      <ul class="optical-list row list-25-lg50-md100 fs-24 row-gap-80 mb-80">
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
        <li>
          <a href="##" class="optical-link">
            <div class="overflow-hidden">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                alt="BJ41600S"
              />
            </div>
            <div class="d-flex justify-content-between">
              <h3>BJ41600S</h3>
              <p class="text-primary fw-medium">NTD3,490</p>
            </div>
            <div>
              <span class="colorbox bg-brown-dark me-8"></span
              ><span class="colorbox bg-brown-light"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <%- include('./layout/pagination');-%> <%- include('./layout/footer');-%>
  </body>
  <script type="module" src="../main.js"></script>
</html>
